<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ajitchouf</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Promotions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/shops">Magasins</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/brands">Marques</a>
          </li>
        </ul>
        <span class="navbar-text">
          Premiere plate-forme des promotions au Maroc
        </span>
      </div>
    </div>
  </nav>





</div>
