<br>
<br>
<div class="container">

  <h4 style="text-align: center"> all Products </h4>

    <div class="body">
      <div class="row">
        <div class="col col-12 col-md-6 col-lg-3">
          <div class="col col-12 col-md-6 col-lg-3">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/images/pict5.jpeg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Smartphone </h5>
                <p class="card-text">Bonjour les dealers,
                  De base elle est à 340,95 déjà en promo mais passe à 290€ avec le code promo SPRING15 !Frais de ports gratuits !</p>
                <a href="#" class="btn btn-primary">Voir le deal</a>
                <h3><sup>$</sup>35<small></small></h3>
                <li class="nav-item">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">$67</span>
                </button>            </li>
              </div>
            </div>
          </div>

        </div>






