


<div class="container" style="margin-top: 20px;">
  <h4 style="margin-bottom: 20px;">- Liste des magazins:</h4>


  <div class="row">
    <select  class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option selected>Select city</option>
      <option  *ngFor="let shop of shops"  value="1">{{ shop.city.name }}</option>
    </select>

   




    <div *ngFor="let shop of shops" class="border col-md-6 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{'http://54.242.216.107/brands/' + shop.brand.logo}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">{{ shop.brand.name}}</p>
            <p class="card-text">{{ shop.address }}</p>
            <button  type="button" class="btn btn-primary ml-2" style="margin-right: 5px;margin-bottom: 5px">{{ shop.city.name }}</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
