
<div class="container" style="margin-top: 20px;">
  <h4 style="margin-bottom: 20px;">- Liste des produits :</h4>
  <div *ngFor="let product of products" class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img *ngFor="let picture of product.pictures" src="{{'http://54.242.216.107/products/' + picture.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text" style="text-align:right ;" style="text-decoration: underline; text-align: right; ">  Date de publication :
             <cite> {{ product.publishedDate| date : 'dd-MM-yyyy' }}</cite>

          <h5 class="card-title">Veste Aigle Homme - Bleu foncé (du S au XXL)</h5>
          <p class="card-text">{{ product.description }}</p>
          <button type="button" class="btn btn-danger ml-2" style="margin-right: 5px;margin-bottom: 5px" >
             <del> {{ product.initialPrice +'Dhs'}} </del></button>


          <button type="button" class="btn btn-warning ml-2" style="margin-right: 5px;margin-bottom: 5px">
            {{product.initialPrice - product.initialPrice *product.discount/100}}</button>


          <button type="button" class="btn btn-warning ml-2" style="margin-right: 5px;margin-bottom: 5px">
            {{ product.discount +'%'}}  </button>
          <br>

          <a  target="_blank" href="https://www.dealabs.com/bons-plans/veste-aigle-homme-bleu-fonce-du-s-au-xxl-2354555"
          class="btn btn-primary" style="text-align: left ;">Voir le deal</a>
          <p class="card-text" style="text-align:right ;" style="text-decoration: underline; text-align: right; "> Date d'expriration :  <cite> {{ product.expiredDate |date : 'dd-MM-yyyy'}} </cite></p>

        </div>
      </div>
    </div>
  </div>
