<section class="myform-area">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="form-area login-form">
                  <div class="form-content">
                      <h2 >MDBDeals</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla non aperiam cum quas quod reprehenderit.</p>
                      <ul>
                          <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i><span>facebook</span></a></li>
                          <li><a href="#" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a></li>
                      </ul>
                  </div>
                  <div class="form-input">
                      <h2>Register</h2>
                      <form>
                          <div class="form-group">
                              <input type="text"  id="" name="name" required>
                              <label>User Name</label>
                          </div>

                        <div class="form-group">
                          <input type="number"  id="" name="phone" required>
                          <label>Phone number</label>
                      </div>
                          <div class="form-group">
                              <input type="password" id="" name="password" required>
                              <label>password</label>
                          </div>

                          <div class="myform-button">
                              <button class="myform-btn">Register</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
