<div class="container" style="margin-top: 20px;">
  <h4 style="margin-bottom: 20px;">- Liste des marques :</h4>
  <div *ngFor="let brand of brands" class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{'http://54.242.216.107/brands/' + brand.logo}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ brand.name }}</h5>
          <p class="card-text">{{ brand.description }}</p>
          <button *ngFor="let category of brand.categories" type="button" class="btn btn-primary ml-2" style="margin-right: 5px;margin-bottom: 5px">{{ category.name }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

