


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/pict1.webp" alt="First slide" style="height: 500px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/pict1.webp" alt="Second slide" style="height: 500px;">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/pict1.jpeg" alt="Third slide" style="height: 500px;">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
